$img : "../images/righticon.png";
$li-position:(
    (height:31px,bottom:90%,span-top:0),
    (height:100px,bottom:60%,span-top:-25px),
    (height:31px,bottom:53%,span-top:-50px),
    (height:31px,bottom:43%,span-top:-75px),
    (height:125px,bottom:10%,span-top:-100px),
    (height:65px,bottom:0,span-top:-125px),
);
#aside{
    position: fixed;
    width: 37px;
    height: 600px;
    right: 0;
    top: 0;
    z-index: 9999;
    font-size: 16px;
    background: #fff;
    //滑动变色
    li{
        width: 37px;
        padding-top: 5px;
        position: absolute;
//      text-align:center; 
        font-size:14px; 
        background: white;
        &:hover{
          background-color: red;
        };
        .asid_pic{
            margin-left: 7px;
            display: inline-block;
            width: 22px;
            height: 22px;
            background:url($img) no-repeat left;
        }
        &>p{
            width: 14px;
            margin: 4px 0 0 12px;
        }
        @for $i from 1 through length($li-position){
            $item: nth($li-position , $i);
            &:nth-child(#{$i}){
                height: map-get($item,height);
                bottom: map-get($item,bottom);
                .asid_pic{
                    background-position-y: map-get($item,span-top);
                }
            };           
        }  
        &li:last-child{
            bottom: 0;
        }
        
        
        
    }
    //弹出框
    .aside_top{
        position: absolute;
        box-shadow: 0px 0px  1px 1px #ddd;
        display: none;
        width: 290px;
        height: 160px;
        left: -290px;
        top: 0;
        background: #fff;
        z-index: 9999;
        div{
            margin-top: 40px;
            img{
                margin-left: 105px;
            }
        }
        p{
            margin-top: 10px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            span{
                height: 14px;
                display: inline-block;
                color: red;
                padding: 0 8px;
            }
            span:nth-child(1){
                border-right: 1px solid #ddd;
            }
        }
        &>span{
            display: block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    .aside_center,.aside_bottom{
        box-shadow: 0px 0px  1px 1px #ddd;
        position: absolute;
        display: none;
        width: 78px;
        height: 34px;
        left: -78px;
        top: 0;
        background: #fff;
        text-align: center;
        line-height: 34px;
        font-size: 12px;
        z-index: 9999;
    }
}
//登录框
.submitBox_wrap{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 9999;
    display: none;
}


.submitBox{
    background: #fff;
    width: 462px;
    height: 282px;
    border: solid #ddd 8px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    font-size: 14px;
    h3{
        height: 40px;
        line-height: 40px;
        background: orange;
        color: #fff;
        padding-left: 16px;
        font-size: 20px;
        font-weight: 100;
        span{
            display:inline-block;
            width: 20px;
            height: 20px;
            margin:10px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            background: #eee;
            color: orange;
            float: right;
        }
    }
    .submitBox_center{
        margin: 20px 15px 0 15px;
        border-bottom: 2px solid #ddd;
        label{
            width: 300px;
            height: 30px;
            position: relative;
            display: block;
            margin-bottom: 15px;
            text-indent: 40px;
            line-height: 30px;
            input{
                position: absolute;
                left: 100px;
                
            }
            &:nth-of-type(1),&:nth-of-type(2){
                input{
                    width: 227px;
                    height: 28px;
                    border: 1px solid #ddd;
                }
            }
            &:nth-of-type(3){
                text-indent: 120px;
                input{
                    top: 8px;
                }
            }
        }
        #btn1{
            width: 110px;
            height: 36px;
            background: orange;
            border: none;
            border-radius: 5px;
            margin: 0 10px 15px 100px;
        }
        #btn2{
            width: 80px;
            height: 36px;
            border: none;
            background: none;
        } 
    }
    $new_comment: "../images/new_comment.gif";
    .submitBox_bottom{
        height: 35px;
        line-height: 35px;
       p{
           float: left;
           margin-left: 15px;
           span{
                display: inline-block;
                width: 20px;
                height: 35px;
                float: left;
                background:url($new_comment) no-repeat left 9px;
                
           }
           &:nth-child(2){
               &:hover{
                 color: red;  
               };
               span{
                   background-position-x: -100px;
               }
           }
           &:nth-child(3){
               &:hover{
                 color: red;  
               };
               span{
                   background-position-x: -120px;
               }
           }
           &:nth-child(4){
               &:hover{
                 color: red;  
               };
               span{
                   background-position-x: -160px;
               }
           }
        }
    }
}


//左侧边栏
#leftAside{
    width: 125px;
    height: 550px;
    position: fixed;
    z-index: 5;
    left: 10px;
    bottom: 60px;
    .leftAside_top{
        height: 176px;
        padding-top: 54px;
        background: url(../images/leftFixImg.png) no-repeat left top;
        div{
            height: 36px;
        }
       
    }
    
    .leftAside_bottom{
        img{
            width: 125px;
        }
    }
    
}



















