//顶部导航栏
#top_wrap,#header_wrap{
    border-bottom: 1px solid #ddd;    
}
#top_nav,header,nav{
    width:1090px;
    margin: 0 auto;
}
#top_nav{
    height: 36px;
    padding-top: 6px;
    margin: 0 auto;

    li{
        float: left;
    };
    .top_left{
        float: left;
        font-size: 14px;
        li{
            padding: 0 20px;
            height: 36px;
            line-height: 36px;
            border-right: 1px solid #ddd;
            font-weight:900; 
            &:nth-child(1){
                background: #fff;
                color: red;
            };
            &:nth-child(3){
                span{
                    display: block;
                    width: 12px;
                    height: 20px;
                    background: url(../images/1.png) no-repeat -320px -240px;
                    float: left;
                    margin: 8px 10px 0 0;
                }
            }
        };
        
    };
    .top_right{
        float: right;
        font-size: 12px;
        height: 27px;
        overflow: hidden;
        padding-top: 9px;
        li{
            height: 17px;
            padding: 0 5px;
            border-right: 1px solid #ddd;
            &:last-child{
                border: none;
            }
        };
        span{
            color: red;
        }
    }
}
//header
header{
    height: 64px;
    margin: 27px auto;
    font-size: 12px;
    ul{
        float: left;
        margin-left:90px ;
        li{
            float: left;
            width: 75px;
            height: 63px;
            margin: 0 15px;
            div{
                width: 40px ;
                height: 40px;
                margin: 0 auto;
                background: url(../images/top_bar2.png) no-repeat left top;
            };
            p{
                padding-top: 5px ;
            };
            &:nth-child(1){
                div{
                    background-position: left bottom;
                }
            }
             &:nth-child(2){
                div{
                    background-position: -43px bottom;
                }
            }
             &:nth-child(3){
                div{
                    background-position: -86px bottom;
                }
            }
        }
        
    }
    &>div{
        float: left;
    }
    .header_right{
        &>div{
            overflow: hidden;
            input{
                border: none;
                float: left;
                &:nth-child(1){
                    width: 420px;
                    height: 25px;
                    padding: 5px;
                    border: 2px solid red;
                };
                &:nth-child(2){
                    width: 56px;
                    height: 39px;
                    background: red url(../images/newIndexIcon.png) no-repeat 15px -77px;
                };
            }  
        }
        p{
            padding-top: 8px;
            a{
                margin-right: 10px;
                &:nth-of-type(1){
                    color: red;
                }
            }
        }
    }
}
//nav
#nav_wrap{
    background: #fff;
    position: relative;
    div{
        position: absolute;
        width: 100%;
        bottom: -20px;
        height: 20px;
        z-index: 1;
        background: url(../images/nav_bottom_bg.png) repeat-x;
    }
}
nav{
    height: 36px;
    font-size: 14px;
    li{
        float: left;
        &:nth-child(1),&:nth-child(2){
            a{
                color: red;
            }
        }
    };
    a{
      display: block;
      height: 36px;
      line-height: 36px;
      padding: 0 20px;  
    }
}


//footer
.footer_wrap1{
    height: 106px;
    background: #ff5c00;
}
.footer_wrap2{
    height: 162px;
    padding: 20px 0 15px;
    background: #fff;
}
.footer_top,.footer_center,.footer_bottom{
    width: 1240px;
    margin: 0 auto;
}
.footer_top{
    &>div{
        width: 285px;
        height: 60px;
        margin: 30px 25px 0 0;
        float: left;
        color: #fff;
        div{
            height: 36px;
            line-height: 36px;
            font-size: 20px;
            font-weight: 900;
            span{
                display: block;
                float: left;
                margin-left: 100px;
                width: 38px;
                height: 34px;
                background: url(../images/1.png) no-repeat;
            }
        };
        &:nth-child(1){
            span{
                background-position: -140px 1px;
            };
        };
        &:nth-child(2){
            span{
                padding-right: 4px;
                background-position: -140px -40px;
            };
        };
        &:nth-child(3){
            span{
                background-position: -140px -80px;
            };
        };
        &:nth-child(4){
            span{
                background-position: -140px -118px;
            };
        };
        p{
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            text-align: center;
        };
    }
}
.footer_center{
    font-size: 12px;
    .footer_left{
        width: 176px;
        height: 130px;
        float: left;
        margin-right: 7px;
        div{
            height: 24px;
            line-height: 24px;
            padding: 6px 0 4px;
            font-weight: 900;
            span{
                display: block;
                width: 26px;
                height: 26px;
                margin-right: 5px;
                float: left;
                background: url(../images/1.png);
            }
        };
        a{
            display: block;
            height: 24px;
            line-height: 24px;
            padding: 6px 0 4px 31px;
        };
        &:nth-of-type(1){
            span{
                background-position: -90px -2px;
            }
        };
        &:nth-of-type(2){
            span{
                background-position: -90px -42px;
            }
        };
        &:nth-of-type(3){
            span{
                background-position: -90px -84px;
            }
        };
        &:nth-of-type(4){
            span{
                background-position: -90px -124px;
            }
        };
        &:nth-of-type(5){
            span{
                background-position: -90px -164px;
            }
        };
        &:nth-of-type(6){
            span{
                background-position: -90px -204px;
            }
        };
    }
    .footer_right{
        width: 110px;
        float: left;
    }
}
.footer_bottom{
    padding: 15px 0;
    a{
        padding: 0 8px;
        border-right: 1px solid #333;
    };
    div{
        text-align: center;
        padding: 5px 0;
        &:nth-child(1){
            a:last-child{
                border: none;
            }
        }
    };
    img{
        display: inline-block;
    }
}



