//正、倒三角
.down_triangle{
   width: 0;
   height: 0;
   border: 5px solid rgba(1,1,1,0);
   border-top: 5px solid #333333; 
   position: absolute;
   display: block;
   top: 0;
   left: 0;
}
.up_triangle{
   width: 0;
   height: 0;
   border: 5px solid rgba(1,1,1,0);
   border-bottom: 5px solid orange;
   position: absolute; 
   display: none;
   top: -5px;
   left: 0;
}
//顶部导航栏
#top_wrap,#header_wrap{
    border-bottom: 1px solid #ddd;    
}
#top_nav,header,nav{
    width:1090px;
    margin: 0 auto;
}
#top_nav{
    height: 36px;
    padding-top: 6px;
    margin: 0 auto;

    li{
        float: left;
    };
    .top_left{
        float: left;
        font-size: 14px;
        li{
            a:hover{
                color: red;
            }
            padding: 0 20px;
            height: 36px;
            line-height: 36px;
            border-right: 1px solid #ddd;
            font-weight:900; 
            &:nth-child(1){
                background: #fff;
                color: red;
            };
            &:nth-child(3){
                position: relative;
                a{
                    display: block;
                    height: 36px;
                    padding: 0 5px;
                    position: relative;
                    z-index: 2;
                    span{
                        display: block;
                        width: 12px;
                        height: 20px;
                        background: url(../images/1.png) no-repeat -320px -240px;
                        float: left;
                        margin: 8px 10px 0 0;
                    };
                 };  
                &>div{
                    position: absolute;
                    left: 20px;
                    top: 36px;
                    z-index: 1;
                    display: none;
                    a{
                        display: block;
                        width: 278px;
                        height: 103px;
                        border: 1px solid orange;
                        background: #fff url(../images/20150616150348_972_20150605145113_972_app.jpg) no-repeat left top;
                    }
                }
            }
        };
        
    };
    .top_right{
        float: right;
        font-size: 12px;
        height: 27px;
        padding-top: 9px;
        li{
            position: relative;
            height: 17px;
            padding: 0 5px;
            border-right: 1px solid #ddd;
            &:last-child{
                border: none;
            };
            &:nth-of-type(n+2)>a{
                display: block;
                height: 27px;
                line-height: 27px;
                padding: 0 5px;
                margin-top: -5px;
                position: relative;
                border: 1px solid #eee;
                z-index: 1;
            }
            &>div{
                position: absolute;
                display: none;
                top: 23px;
                width: 68px;
                background: #fff;
                border: 1px solid orange;
                a{
                    display: block;
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                    padding: 0 5px;
                }  
            };
            &:nth-of-type(1){
                a{
                    color:red;
                }
                p{
                    float: left;
                    margin-right: 10px;
                }
            }
        };
        span{
            color: red;
        };
        a:hover{
            color: red;
        };
        .triangle{
            float: right;
            margin-top: 10px;
            width: 10px;
            height: 10px;
            position: relative;
        }
    }
}
//header
header{
    height: 64px;
    margin: 27px auto;
    font-size: 12px;
    &>ul{
        float: left;
        margin-left:90px ;
        li{
            float: left;
            width: 90px;
            height: 63px;
            margin: 0 15px;
            div{
                width: 40px ;
                height: 40px;
                margin: 0 auto;
                background: url(../images/top_bar2.png) no-repeat left top;
            };
            p{
                padding-top: 5px ;
                text-align: center;
            };
            &:nth-child(1){
                div{
                    background-position: left bottom;
                }
            }
             &:nth-child(2){
                div{
                    background-position: -43px bottom;
                }
            }
             &:nth-child(3){
                div{
                    background-position: -86px bottom;
                }
            }
        }
        
    }
    &>div{
        float: left;
    }
    .header_right{
        &>div{
            overflow: hidden;
            input{
                border: none;
                float: left;
                &:nth-child(1){
                    width: 420px;
                    height: 25px;
                    padding: 5px;
                    border: 2px solid red;
                };
                &:nth-child(2){
                    width: 56px;
                    height: 39px;
                    background: red url(../images/newIndexIcon.png) no-repeat 15px -77px;
                };
            }  
        }
        p{
            padding-top: 8px;
            a{
                margin-right: 10px;
                &:nth-of-type(1){
                    color: red;
                };
                &:hover{
                    color: red;
                }
            }
        }
    }
}
//nav
#nav_wrap{
    background: #fff;
    position: relative;
    &>div{
        position: absolute;
        width: 100%;
        bottom: -20px;
        height: 20px;
        z-index: 1;
        background: url(../images/nav_bottom_bg.png) repeat-x;
    }
}
nav{
    height: 36px;
    font-size: 14px;
    position: relative;
    &>ul{
        height: 36px;
    }
    &>ul>li{
        float: left;
        position:relative; 
        &:nth-child(1),&:nth-child(2){
            &>a{
                color: red;
            }
        };
        &:nth-child(1){
            position: relative;
            &>a span{
                display:block;
                position: absolute;
                right: 5px;
                top: 15px;
                width: 12px;
                height: 6px;
                background: url(../images/top_bar2.png) no-repeat ;
                &:nth-child(1){
                   background-position: -109px -65px; 
                };
                &:nth-child(2){
                   background-position: -116px -75px; 
                   display: none;
                };
            }
        };
        &:nth-child(4){   
            border: 1px solid #fff;       
            div{
                display: none;
                width: 96px;
                position: absolute;
                left: -1px;
                top: 35px;
                z-index: 2;
                background: #fff;
                border: 1px solid orange;
                border-top: none;
                a{
                    display: block;
                    text-align: center;
                    height: 37px;
                    line-height: 37px;
                    font-size: 12px;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
        &>a{
          display: block;
          height: 36px;
          line-height: 36px;
          padding: 0 20px;  
        }
    };
    .products{
        ul{
            position: absolute;
            z-index: 3;
            top: 36px;
            left: 0;
            display: none;
            li{
                width: 122px;
                height: 34px;
                border: 1px solid #fff;
                line-height: 34px;
                background: #fff;
                font-size: 12px;
                span{
                    display: block;
                    float: right;
                    width: 6px;
                    height: 12px;
                    margin: 10px 5px 0 0;
                    background: url(../images/1.png) no-repeat -60px -200px;
                };
                &:hover{
                    color: red;
                };
                b{
                    display: block;
                    float: left;
                    width: 14px;
                    height: 14px;
                    margin: 10px 15px 0 10px;
                    background: url(../images/top_bar2.png) no-repeat;
                };
                $products_position:(
                    (left:-113px,top:0),
                    (left:-129px,top:0),
                    (left:-145px,top:0),
                    (left:-112px,top:-20px),
                    (left:-129px,top:-20px),
                    (left:-146px,top:-20px),
                    (left:-113px,top:-40px),
                    (left:-131px,top:-40px),
                    (left:-151px,top:-40px)
                );
                @for $i from 1 through length($products_position){
                    $item: nth($products_position , $i);
                    &:nth-child(#{$i}){
                        b{
                            background-position-x: map-get($item,left);
                            background-position-y: map-get($item,top);
                        }
                    };           
                }  
            };
            li.products_hover{
                width: 123px;
                border: 1px solid orange;
                border-right-color: #fff;
            };
        }    
        .products_right{
            position: absolute;
            left: 124px;
            top: 36px;
            background: #fff;
            z-index: 2;
            width: 964px;
            border: 1px solid orange;
            display: none;
            .products_content{
                float: left;
                width: 676px;
                padding: 7px 30px 0 30px;
                border-right: 1px solid #eee;
                font-size: 12px;
                div{
                    width: 100%;
                    h4{
                        font-weight: 900;
                        height: 25px;
                        line-height: 25px;
                        border-bottom: 1px dashed #ddd;
                        &:hover{
                            color: red;
                        }
                    };
                    a{
                        display: inline-block;
                        height: 12px;
                        line-height: 12px;
                        padding-right:7px ;
                        margin: 9px 7px 9px 0;
                        border-right: 1px solid #ddd;
                        &:last-child{
                            border: none;
                        };
                        &:hover{
                            color: red;
                        }
                    }
                }    
            };
            .products_pic{
                float: left;
                width: 210px;
                img{
                    float: left;
                    margin: 10px 2px;
                }
            }
        }  
        
    }
}


//footer
.footer_wrap1{
    height: 106px;
    background: #ff5c00;
}
.footer_wrap2{
    height: 162px;
    padding: 20px 0 15px;
    background: #fff;
}
.footer_top,.footer_center,.footer_bottom{
    width: 1240px;
    margin: 0 auto;
}
.footer_top{
    overflow: hidden;
    &>div{
        width: 285px;
        height: 60px;
        margin: 30px 25px 0 0;
        float: left;
        color: #fff;
        div{
            height: 36px;
            line-height: 36px;
            font-size: 20px;
            font-weight: 900;
            span{
                display: block;
                float: left;
                margin-left: 100px;
                width: 38px;
                height: 34px;
                background: url(../images/1.png) no-repeat;
            }
        };
        &:nth-child(1){
            span{
                background-position: -140px 1px;
            };
        };
        &:nth-child(2){
            span{
                padding-right: 4px;
                background-position: -140px -40px;
            };
        };
        &:nth-child(3){
            span{
                background-position: -140px -80px;
            };
        };
        &:nth-child(4){
            span{
                background-position: -140px -118px;
            };
        };
        p{
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            text-align: center;
        };
    }
}
.footer_center{
    font-size: 12px;
    .footer_left{
        width: 176px;
        height: 130px;
        float: left;
        margin-right: 7px;
        div{
            height: 24px;
            line-height: 24px;
            padding: 6px 0 4px;
            font-weight: 900;
            span{
                display: block;
                width: 26px;
                height: 26px;
                margin-right: 5px;
                float: left;
                background: url(../images/1.png);
            }
        };
        a{
            display: block;
            height: 24px;
            line-height: 24px;
            padding: 6px 0 4px 31px;
        };
        &:nth-of-type(1){
            span{
                background-position: -90px -2px;
            }
        };
        &:nth-of-type(2){
            span{
                background-position: -90px -42px;
            }
        };
        &:nth-of-type(3){
            span{
                background-position: -90px -84px;
            }
        };
        &:nth-of-type(4){
            span{
                background-position: -90px -124px;
            }
        };
        &:nth-of-type(5){
            span{
                background-position: -90px -164px;
            }
        };
        &:nth-of-type(6){
            span{
                background-position: -90px -204px;
            }
        };
    }
    .footer_right{
        width: 110px;
        float: left;
    }
}
.footer_bottom{
    font-size: 12px;
    padding: 15px 0;
    a{
        padding: 0 8px;
        border-right: 1px solid #333;
    };
    div{
        text-align: center;
        padding: 5px 0;
        &:nth-child(1){
            a:last-child{
                border: none;
            }
        }
    };
    img{
        display: inline-block;
    }
}



