#banner{
    width: 1090px;
    margin: 0 auto;
}
#banner_wrap{
    height: 350px;
    background: url(../images/outerBg.png) no-repeat center;
}

$banner_width:1090px;
#banner{
    height: 350px;
    overflow: hidden;
    position: relative;
    z-index: -1;
    ul{
        position: absolute;
        width: $banner_width*6;
        height: 350px;
        li{
            float: left;
        }
    }
    .banner_page{
        position: absolute;
        bottom: 10px;
        left: 500px;
        width: 144px;
        height: 19px;
        border-radius: 10px;
        background: #ddd;
        div{
            float: left;
            width: 12px;
            height: 12px;
            margin: 3px 0 0 10px;
            background: #fff;
            border-radius: 50%;
            
        }
    }
}












