#top_nav,.footer_bottom,#logo1{
    width: 1000px;
    margin: auto;
}
.footer_wrap3{
    background: #fff;
}

#logo_wrap1{
    background: #fff;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}
#logo1{
    height: 75px;
}

#login{
    height: 570px;
    padding: 17px;
    .login_top{
        width: 505px;
        height: 38px;
        margin: 0 auto;
        div{
            width: 240px;
            height: 35px;
            line-height: 35px;
            border: 1px solid #ddd;
            float: left;
            margin-left: 10px;
            background: #f5f5f5;
            span{
                display: block;
                float: left;
                width: 27px;
                height: 27px;
                margin: 2px 10px 0 75px;
                background: url(../images/register.png);
            };
            &:nth-child(1){
                span{
                    background-position: -290px 0;
                }
            };
            &:nth-child(2){
                span{
                    background-position: -230px 0;
                }
            }
        };
    };
    .login_bottom{
        width: 978px;
        height: 480px;
        padding: 40px 10px 10px ;
        margin: 0 auto;
        background: #fff;
        .login_left1{
            float: left;
            width: 568px;
            
            
            
            
            
        }
        .login_right1{
            float: left;
        }
        
        
    }
    
    
    
    
    
}

